{% extends 'MainWindow.html' %}

{% block title %}Учёт молока{% endblock %}

{% block content %}
    {% if fulling_info %}

        <table border="1", align="right", width="20%">
            <caption>Сводка по заливкам</caption>
            <tr><th>Имя</th><th>Залито</th><th>Коммент</th></tr>

            {% for fulling in fulling_info %}
                <tr><td>{{fulling.name}}</td><td>{{fulling.liters}} л.</td><td>{{fulling.comment}}</td></tr>
            {% endfor %}

        </table>

    {% else %}
        <a href="#">Не было произведено заливок</a>
    {% endif %}

    {% if milk_tank %}

        <table border="1", width="20%">
            <caption>Сводка по цистернам</caption>
            <tr><th>№ цистерны</th><th>Заполненность</th></tr>

            {% for tank in milk_tank %}
                {% if tank.fullness == 300 %}
                    <tr><td bgcolor="red">{{tank.id}}</td><td>{{tank.fullness}} л.</td></tr>
                {% elif tank.fullness >= 250 %}
                    <tr><td bgcolor="yellow">{{tank.id}}</td><td>{{tank.fullness}} л.</td></tr>
                {% else %}
                    <tr><td>{{tank.id}}</td><td>{{tank.fullness}} л.</td></tr>
                {% endif %}
            {% endfor %}

        </table>

    {% else %}
        <a href="#">Error, have no objects</a>
    {% endif %}

    {% if form %}
        <h1>Внесение данных по заливке</h1>
        {{form}}
    {% else %}
        <tr><th><label for="id_tank">Номер цистерны:</label></th><td><input type="number" name="tank_id" required id="id_tank" /></td></tr>
        <tr><th><label for="id_name">Имя заливающего:</label></th><td><input type="text" name="name" required id="id_name" /></td></tr>
        <tr><th><label for="id_fulling">Литры к заполнению:</label></th><td><input type="number" name="fulling" required id="id_fulling" /></td></tr>
        <tr><th><label for="id_comment">Комментарий:</label></th><td><input type="text" name="comment" required id="id_comment" /></td></tr>
    {% endif %}
{% endblock %}
